:root {
  /* Reset some default values */
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

#root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Avoid horizontal scrolling */
  background-color: rgb(244, 244, 244);
}

h1 {
  text-align: center; /* Center the title horizontally */
  padding: 20px 0; /* Give it some vertical space */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Center the VideoContainer vertically */
  width: 100vw; /* Take up 80% of the viewport width */
  height: 80vh; /* Take up the full viewport height */
  position: relative; /* This will be handy when you add controls later */
}

.VideoContainer {
  display: block;
  position: relative;
  overflow: hidden;

  width: 80%;
  height: 80%;
}

.Cropper {
  position: absolute;
  display: block; /* Remove any default margins/paddings around the video */

  box-shadow: 0 0 0 1000px rgb(244, 244, 244, 0.8);

  /* width: 100%;
  height: 100%; */
  z-index: 10;
}

.VideoPreview {
  position: absolute; /* I want this here so I can set the position of the video, but why does this break the video? */
  display: block; /* Remove any default margins/paddings around the vi`deo */

  pointer-events: none;

  width: 100%;
  max-height: 100%;
}
